@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');





* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


/*-- top-navbar-div --*/


.navbar-container {
	/*background: url(imges/back-img.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	right: 0;*/
	background: blue;
}
.navbar-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;
}
.navbar-img-link {
	display: flex;
	align-items: center;
}
.navbar-img-link a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.navbar-img-link a img {
	width: 72px;
    margin-bottom: -16px;
}
.navbar-row nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-row nav ul li {
	list-style: none;
}
.navbar-row nav ul li a {
	text-decoration: none;
	margin: 0 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}



/*-- -------------- --*/




/*-- top-navbar-div --*/

/*-- -------------- --*/

/*-- top-navbar-div --*/

/*-- -------------- --*/

/*-- top-navbar-div --*/

/*-- -------------- --*/

/*-- top-navbar-div --*/

/*-- -------------- --*/