@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');





* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


/*-- top-navbar-div --*/


.navbar-container {
	/*background: url(imges/2201.w023.n001.1703B.p1.1703.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;*/
	/*background: blue;*/
}
.navbar-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;
}
.navbar-img-link {
	display: flex;
	align-items: center;
	margin-top: -10px;
}
.navbar-img-link a {
	text-decoration: none;
	color: #000;
	font-size: 24px;
	font-weight: 700;
}
.navbar-img-link a img {
	width: 72px;
    margin-bottom: -16px;
}
.navbar-row nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar-row nav ul li {
	list-style: none;
}
.navbar-row nav ul li a:before {
	content: '';
	position: absolute;
	bottom: -22px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #281eb0;
	transition: all ease 1s;
}
.navbar-row nav ul li a:hover:before {
	width: 100%;
}
.navbar-row nav ul li a:hover {
	color: #281eb0;
}
.navbar-row nav ul li a {
	text-decoration: none;
	margin: 0 15px;
	color: #333;
	font-size: 14px;
	font-weight: 500;
	transition: 0.5s;
	position: relative;
}






/*-- -------------- --*/




/*-- top-sidebar-div --*/


.sidebar-container {}
.sidebar-row {
	display: flex;
	justify-content: space-between;
	padding: 20px 5%;
	padding-top: 5%;
}
.sidebar-text {
	top: 0;
}
.sidebar-text h2 {
	color: #333333f2;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 24px;
}
.sidebar-text h1 {
	color: #090b1fc9;
    font-family: system-ui;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -13px;
}
.sidebar-text p {
	color: #424141bf;
    font-size: 13px;
    margin: 9px 0;
    text-transform: uppercase;
}
.sidebar-text button {
	color: #fff;
    border: 0;
    outline: 0;
    background: linear-gradient(45deg, #1a119e, #5046e3);
    padding: 12px 34px;
    border-radius: 37px;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.sidebar-text button:hover {
	transform: scale(0.9);
}
.sidebar-img img {
	width: 105%;
	margin-top: -60px;
}
.bottom-btn {
	align-items: center;
	justify-content: center;
	display: flex;
}
.bottom-btn button img {
	width: 41px;
}
.bottom-btn button {
	padding: 7px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 7px 1px #80808042;
    background: transparent;
    cursor: pointer;
}
.bottom-btn button:hover {
	background: linear-gradient(45deg, #1a119e, #5046e3);
	z-index: -1;
}
.bottom-btn button:hover img {
	z-index: 100;
}



/*-- -------------- --*/





/*-- top-bio-sidebar-div --*/


.top-bio-sidebar-contanier {}
.top-bio-sidebar-row {
	display: flex;
	padding: 20px 5%;
	padding-top: 6%;
	gap: -3rem;
}
.bio-sidebar-img img {
	width: 100%;
	margin-top: -60px;
}
.bio-sidebar-text {
	top: 0;
}
.bio-sidebar-text h4 {
	color: #251cad82;
    font-size: 14px;
    font-weight: 500;
}
.bio-sidebar-text h1 {
	font-size: 37px;
    font-weight: 900;
    color: #3d3f4ee0;
}
.bio-sidebar-text p {
	color: #424141b3;
    font-size: 12px;
    line-height: 20px;
    margin: 9px 0;
    padding-bottom: 8px;
}
.bio-sidebar-text span {
	color: #424141b3;
    font-size: 12px;
    line-height: 20px;
    margin: 9px 0;
    padding-bottom: 8px;
}
.bio-sidebar-text button {
	color: #fff;
    border: 0;
    outline: 0;
    background: linear-gradient(45deg, #1a119e, #5046e3);
    border-radius: 37px;
    font-size: 11px;
    margin-top: 30px;
    padding: 10px 41px;
    cursor: pointer;
    transition: transform 0.5s;
    display: block;
}




/*-- -------------- --*/





/*-- services-card-div --*/



.services-card-container {
	background: url(imges/new-bcak.png);
	/*height: 100vh;*/
	background-size: cover;
	background-position: center;
	object-fit: cover;
}
.services-heading {
	padding: 20px 10%;
}
.services-heading h4 {
	color: #251cad91;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.services-heading h1 {
	font-size: 35px;
    font-weight: 900;
    color: #3d3f4ee8;
}
.services-card-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 9%;
	padding-top: 1%;
}
.three-card-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-one {
}
.services-card {
	padding: 25px 12px;
    border-radius: 27px;
    padding-bottom: 24px;
    background: white;
    box-shadow: 0px 4px 12px 2px #80808014;
    cursor: pointer;
    transition: 0.5s;
}
.services-card:hover {
	box-shadow: 0px 4px 7px 2px #80808066;
}
.services-card-text-img {
	text-align: center;
}
.services-card-text-img img {
	width: 97px;
    margin-bottom: 11px;
}
.services-card h4 {
	margin-bottom: 33px;
    margin-top: 14px;
    font-size: 15px;
    color: #2c2e3c;
}
.services-card p {
	font-size: 12px;
    color: #2c2e3cde;
}
.services-card button {
	color: #fff;
    margin-left: 55%;
    border: 0;
    outline: 0;
    background: linear-gradient(45deg, #1a119e, #5046e3d6);
    border-radius: 37px;
    font-size: 11px;
    margin-top: 30px;
    padding: 7px 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.card-one .services-card  {
	margin: 10px 20px;
	margin-bottom: 48px;
}
.card-two .services-card  {
	margin: 10px 20px;
	margin-bottom: 48px;
}
.card-three .services-card  {
	margin: 10px 20px;
	margin-bottom: 48px;
}
.services-card {}




/*-- -------------- --*/










/*-- top-navbar-div --*/

/*-- -------------- --*/

/*-- top-navbar-div --*/

/*-- -------------- --*/

/*-- top-navbar-div --*/

/*-- -------------- --*/